/*
**************************************
* Project Name:
* Project Description:
* File Name:
* Author: Sebastian Tischer
* Version:
* Last Change:
* Log:
* ToDo:
*****************************************
*/

/*
==========================================================================
Generic glasses
==========================================================================
*/

.clear        { clear:both; }
.left         { float:left; }
.right        { float:right; }
img.left      { margin-right:1em; margin-bottom:1.8em; }
img.right     { margin-left:1em; margin-bottom:1.8em; }
.text-right   { text-align:right; }
.half         { width:45%; /* Not exactly half to account for paddings, margins etc. */ }

.hide{ /* Hide stuff without resorting to display:none; */
	visibility:hidden;
	width:0!important;
	height:0!important;
	line-height:0!important;
	padding:0!important;
	margin:0!important;
}