@charset "UTF-8";
/*
==========================================================================
Style.css - based on SCSS
==========================================================================
*/
/*------------------------------------*\
Index - Stylesheet: style.css

	0.  Variables
	1.  Mixins
	2.  Helper Classes	
	3.  Global (body, page sructure)
	4.  Header
	5.  Navigation
	6.  Pagination
	7.  Breadcrumb
	8.  Images
	9.  Media	
	10. Buttons	
	11. Lists
	12. Forms
	13. Links
	14. Tables
    ---
	15. Selectors

\*------------------------------------*/
/*------------------------------------*\
    0. Variables
\*------------------------------------*/
/*------------------------------------*\
    $Fonts
\*------------------------------------*/
/*------------------------------------*\
    $Brand-Colors
\*------------------------------------*/
/*------------------------------------*\
    Include.scss
\*------------------------------------*/
/**
 * Generic helper classes and project mixins.
**/
/*------------------------------------*\
    1. Mixins
\*------------------------------------*/
/**
 * Vendor Prefix base setup
**/
/**
 * CSS keyframe animations
**/
/*------------------------------------*\
    2. Helper
\*------------------------------------*/
/**
 * A series of helper classes
**/
.fr {
  float: right; }

.fl {
  float: left; }

.text-center,
.text-centre {
  text-align: center; }

/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
**/
.informative {
  cursor: help; }

/**
 * Mute an object by reducing its opacity.
**/
.muted {
  opacity: 0.5;
  filter: alpha(opacity=50); }

/**
 * Align items to the right where they imply progression/movement forward, e.g.:
 * 
   <p class=proceed><a href=#>Read more...</a></p>
 * 
**/
.proceed {
  text-align: right; }

/**
 * Add a right-angled quote to links that imply movement, e.g.:
 * 
   <a href=# class=go>Read more</a>
 * 
**/
.go:after {
  content: " »"; }

/**
 * Apply capital case to an element (usually a `strong`).
**/
.caps {
  text-transform: uppercase; }

/**
 * Hide content off-screen without resorting to `display:none;`
**/
.accessibility {
  position: absolute;
  left: -99999px; }

[dir=rtl] .accessibility {
  left: auto;
  right: -99999px; }

/**
 * Hide content based on breakpoint
**/
.hide {
  position: absolute;
  left: -9999px; }

/**
 * Includes all the various parts
**/
/*------------------------------------*\
    3.  Global (body, page sructure)
\*------------------------------------*/
/*------------------------------------*\
    4.  Header
\*------------------------------------*/
/*------------------------------------*\
    5.  Navigation
\*------------------------------------*/
/*------------------------------------*\
    6.  Pagination
\*------------------------------------*/
/*------------------------------------*\
    7.  Breadcrumb
\*------------------------------------*/
/*------------------------------------*\
    8.  Images
\*------------------------------------*/
/*------------------------------------*\
    9.  Media
\*------------------------------------*/
/*------------------------------------*\
    10. Buttons	
\*------------------------------------*/
/*------------------------------------*\
    11. Lists
\*------------------------------------*/
/*------------------------------------*\
    12. Forms
\*------------------------------------*/
/*------------------------------------*\
    13. Links
\*------------------------------------*/
/*------------------------------------*\
    14. Tables
\*------------------------------------*/
/*------------------------------------*\
    15. Selectors
\*------------------------------------*/
